<div class="blank-separator"></div>
<div class="side-image"><img src="http://i.imgur.com/BYticga.jpg"/></div>
<div class="content">
  <h1>Welcome to Robot World</h1>
  <p><em>We'll help you find someone you like a whole bot!</em></p>
  <ul>
    <li><a href="/robots">Browse matches</a></li>
    <li><a href="/robots/new">Register</a></li>
  </ul>
</div>

