<% @robots.each do |robot| %>
  <h2><a href="/robots/<%= robot.id %>"><%= robot.name %></a></h2>
  <a href="/robots/<%= robot.id %>/edit">Edit</a>
  <form action="/robots/<%= robot.id %>" method="POST">
    <input type="hidden" value="DELETE" name="_method">
    <input type="submit" value="delete">
  </form>
<% end %>
