<form action="/robots" method="post">
  <p>Enter your bot's info:</p>
  Name: <input type='text' name='robot[name]'><br/>
  City: <input type='text' name='robot[city]'><br/>
  State: <input type='text' name='robot[state]'><br/>
  Birthday: <input type='text' name='robot[birth_date]'><br/>
  Join date: <input type='text' name='robot[join_date]'><br/>
  Favorite color: <input type='text' name='robot[favorite_color]'><br/>
  <!--Avatar URL: <input type='text' name='robot[avatar]'><br/>-->
  <input type='submit'/>
</form>
