<form action="/robots" method="post">
  <p>Enter your bot's info:</p>
  Name: <input type='text' name='robot[name]'><br/>
  City: <input type='text' name='robot[city]'><br/>
  State: <input type='text' name='robot[state]'><br/>
  Birthday: <input type='text' name='robot[birth_date]'><br/>
  Likes: <input type='text' name='robot[likes]'><br/>
  Dislikes: <input type='text' name='robot[dislikes]'><br/>
  Avatar URL: <input type='text' name='robot[avatar]'><br/>
  <input type='submit'/>
</form>
